streamlit
streamlit_chat
langchain_community
pypdf
tiktoken
fastembed
chromadb
wikipedia
langgraph
langchainhub
docx2txt
duckduckgo-search
ipython
ipykernel  
sentence_transformers
jupyter
pyppeteer
numexpr
tqdm
pytest